
.swiper-pagination {
    position: relative;
    margin-top: 30px;
  }
  
  .swiper-pagination-bullet {
    width: 34px;
    height: 8px;
    border-radius: 41px;
    background: rgba(253, 210, 172, 0.5);
    opacity: 1;
    transition: all 0.3s ease;
  }
  
  .swiper-pagination-bullet-active {
    width: 59px;
    height: 8px;
    border-radius: 41px;
    background: rgba(255, 234, 215, 1);
  }
  
  .deal .swiper-slide {
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .deal .swiper-container {
    padding-bottom: 80px;
    overflow: visible !important;
  }
  
  #testimonial-section .swiper-container {
    padding-bottom: 80px;
    overflow: hidden !important;
  }
  
  @media (max-width: 767.98px) {
    .deal-swiper  {
      overflow: visible !important;
      padding-right: 3% !important;
    }
    .testimonial-swiper  {
      overflow: hidden !important;
      /* padding-right: 3% !important; */
    }
    .deal .swiper-container {
      padding-bottom: 30px;
    }
    .deal .swiper-slide {
      width: 80% !important;
    }
    .swiper-pagination-bullet {
      width: 17px;
      height: 4px;
      border-radius: 20px;
  }
  .swiper-pagination-bullet-active {
      width: 39px;
      height: 4px;
      border-radius: 20px;
  }
  }
  